/*REGLAS
sELECTORES
dECLARACIONES
pROPIEDADES
vALORES
*/

  

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin:0px;

}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Fjalla One', serif;
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    font-weight: normal;
    /*    font-style: italic;*/
    letter-spacing: -.2px;
    color: rgb(87, 66, 34);
    margin: 0;

}

h1 strong{
    color: rgb(53, 98, 156);
}

h2{
    color: rgb(53, 98, 156);
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom:35px;
}

.hero{
    height: 300px;
    /* background-image: url('../images/hero.jpg'); */
    background-color: #f2d2b3;
    /* background-size: 500px 300px; */
    /* background-repeat: no-repeat; */
    background-position-x: right ;
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* el container hereda todo esto */
    flex-wrap: wrap;
}

.hero_image{
    object-fit: cover;/*pone las dimensiones originales de la imagen*/
}

.portfolio{
    background:#fafafa;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin:0;
    margin:0 auto;
    flex-wrap: wrap;



}

.project{
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 27%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin:10px;
    flex-wrap: wrap;


}

.project.cero{
    background-color: #ffdfba;
}
.project.one{
    background-color: #ffffba;
}
.project.two{
    background-color: #baffc9;
}
.project.three{
    background-color: #bae1ff;
}
.project.four{
    background-color: #ffdfba;
}
.project.five{
    background-color: #ffffba;
}
.project.six{
    background-color: #ffffba;
}
.project.seven{
    background-color: #baffc9;
}
.project.eight{
    background-color: #ffdfba;
}

.project p a{
    color:black;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: lightblue;
    text-decoration: none;
}

.album_song,
.song_date,
.song_url{
    margin: 10px 0;
}

.song_description{
    font-size: 20px;

}

.project strong{
    font-family: 'Fjalla One', serif;
}

.song_title{
    font-size: 30px;
    margin-top:0;
    margin-bottom:10px;

}

.song_details{
   width: auto;
}

.album_imageContainer{
    width: auto;
    text-align: center;
}

.album_imageContainer img{
        width: 40%;
}

.header{
    background-color: rgb(43, 81, 129);
    color: #f2eadc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    flex-wrap: wrap;
}


ol,
ul{
margin: 0;
padding: 0;
list-style: none;
}

figure{
    margin: 0;
}


.header a{
    color: #f2eadc;
    text-decoration: none;
}

.menu{
    height: inherit;
}

.header ol{
    display: flex;
    height:inherit;
}

.header ol li{
    height: inherit;
}

.header a{
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

.footer{
    color:white;
    background-color: rgb(43, 81, 129);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer img{
    vertical-align: middle;
}

.footer a{
    color: white;
}

.event_list{
    display: flex;
    flex-wrap: wrap;

}

.event-list-title{
    margin-left:10px ;
}

.event{
    margin:10px auto;
    width: 48%;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff;
}

.event img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.event_details{
    margin:20px 40px;
    margin-top:-40px;
    background-color: white;
    position: relative;
    padding:20px;
    text-align: center;
}

.event_description{
    text-align: left;
}

.event_info{
    width: 200px;
    height: 40px;
    background-image: url(../images/Horadia.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    margin: 10px;
    padding: 0 0 0 15px;
}

.event_url{
    border: 1px solid rgb(43, 81, 129);
    padding:5px 20px;
    text-decoration: none;
    color:rgb(43, 81, 129);
    border-radius:5px;

}

.contact{
    background-color: #f2d2b3;
    color:black;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social{
    display: flex;
    align-items:center;
}

.social_link{
    display:inline-block;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    background-size: 50px 50px;
}
.social_link.twitter{
    background-image: url(../images/twitter.svg);
}
.social_link.facebook{
    background-image: url(../images/facebook.svg);
}
.social_link.youtube{
    background-image: url(../images/youtube.svg);
}
.social_link.spotify{
    background-image: url(../images/spotify.svg);
    border-radius: 12px;
}

.form_email input{
    border-color:rgb(243, 203, 233);
    border-radius: 5px;
    border-style: solid;
    padding: 10px 20px 10px 25px;
    background-image: url(../images/sobre.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y:center ;
    background-position-x:5px ;
}


.form_email button{
    display:block;
    margin-top: 10px;
    background-color: black;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width:100px;
    margin-top:10px;
}

.form_emFail h3{
    font-family: 'Source Sans Pro', sans-serif;
}

.container{
    /* border:1px solid red; */
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
    border: inherit;
}

.container h2{
    margin: 20px 0 0;
}

.html_video{
    width: 100%;
    height: auto;
}

.youtube-video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.youtube-container{
    position: relative;
    height:auto;
    width: 100%;
    padding-top: 56.25%;
}

.burguer-button{
    width: 40px;
    height: 40px;
    border-radius: 50%; /*relativo al ancho*/
    background-color: #2b5181;
    display: none;
    line-height: 40px;/*centrar de otra manera*/
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: white;
    

}

/* Desktop first desde el mediaquerie mas grande */

@media screen and (max-width: 1023px){
    .container{
        padding: 0 1em;
    }

    .hero{
        height: auto;
        position: relative;
        overflow: hidden;/*me esconde lo que se desborda*/
        padding: 2em;
    }

    .hero_image{
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    h1{
        font-size: 2em;
        z-index: 2;
    }

    .event{
        width: 100%;
        flex-shrink: initial;
    }

    .event_imageContainer{
        width: 100%;
    }

    .event img{
        width: 100%;
    }
}

@media screen and (max-width: 767px){

    .burguer-button{
        display: block;
    }

    .header{
        display: block;
        height: auto;
    }

    .header ol{
        display: initial;
    }

    .header ol li{
        height: 50px;
    }

    .header a{
        justify-content: center;
        height: 40px;
        font-size: 2em;
        text-decoration: underline;
        margin-bottom: .5em;
    }

    .header .logo{
        text-align: center;
    }

    .menu{
        position: fixed;
        background-color: rgba(87, 66, 34, .9);
        z-index: 3;
        top: 0;
        left: -100vw;
        bottom: 0; /*Hace que se estire y que su contendip se centre*/
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
    
    }

    .menu.is-active{
        left: 0;
    }

    ol{
        height: auto;
    }


    .song_details{
        font-size: 16px;
    }

    .song_date, .song_url, .song_title{
        margin: .4em 0;
    }

    .song_title{
        font-size: 1.5em;
    }

    .song_date{
        font-size: 1em;
    }

    .song_url{
        font-size: 1em;
    }

    .song_description{
        font-size: .8em;
    }

    .event{
        width: 100%;
        flex-shrink: initial;
    }

    .event img{
        width: 100%;
    }

}

@media screen and (max-width: 428px){

    h1{
        font-size: 1.5em;
    }

    .project{
        width: 80%;
    }

    .event_details{
        margin: -2em .5em .5em;
        padding: 1em;
    }

    .contact{
        height: auto;
        padding: 1.5em 0;
        display: block;
        text-align: center;

    }

    .form_email button{
        margin: 1em auto;
    }

    .form_email h3{
        margin-top: 0;
    }

    .footer{
        display: block;
        text-align: center;
        border: 1px solid transparent;
        /* evitar el margin collapsing */
    }

    .container h2{
        text-align: center;
    }

    .social{
        display: flex;
        justify-content: center;
    }


}

@media screen and (max-width: 320px){
    .project{
        width: 80%;
    }

    h1{
        font-size: 1.2em;
        
    }

    .hero{
        padding: 2em 1em;
    }

    .event{
        width: 80%;
    }

    .event_imageContainer{
        width: 100%;
    }

    
}